# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/.gradle/
android/app/build/

# Firebase / secrets
*.json
*.plist
.env
